build/*
dist/*
*.pyc
*.pyd
*egg-info*
*.so
.eggs
doctrees
docs/_build
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
wetb/gtsdf/tests/tmp
wetb/dlc/tests/test_files/res_all
wetb/dlc/tests/test_files/res2_all
wetb/hawc2/ascii2bin/ascii2bin_dist
wetb/hawc2/tests/test_files/htcfiles/tmp.htc
wetb/hawc2/ascii2bin/tests/test_files/Hawc2ascii_bin.sel
wetb/hawc2/ascii2bin/tests/test_files/Hawc2ascii_bin.dat
wetb/prepost/tests/data/demo_dlc/remote*
wetb/*/*/*.c
.cache/
tests/temp.htc
**/tmp/*

/wetb/fatigue_tools/rainflowcounting/compile.py
/docs/api
/htmlcov
/docs/build
/docs/source_old
.ipynb_checkpoints
/.pytest_cache/
