# Add your requirements here like:
cython
future
h5py
matplotlib
mock
numpy>=1.4
openpyxl
pandas
paramiko
pbr
psutil
PyScaffold
pytest
pytest-cov
scipy>=0.9
six
tables
xlrd
xlwt
sshtunnel
xlsxwriter

