________________________________________________________________________________________________________________________
  Version ID : Wind Energy Toolbox
                                                            Time : {{current_time}}
                                                            Date : {{current_date}}
________________________________________________________________________________________________________________________
  Result file : ./res/{{FileName}}.dat
________________________________________________________________________________________________________________________
   Scans    Channels    Time [sec]        Format
      {{NrSc}}     {{NrCh}}          {{'%0.3f'| format(Time|float)}}       {{FileFormat}}

  Channel   Variable Description               
{% for str in ChString %}
{{str}}
{%- endfor %}
________________________________________________________________________________________________________________________
Scale factors:
  {%- for factor in ScaleFactor %}
  {{'%0.5E' | format(factor|float)}}
  {%- endfor %}
